:root {
  --accent: #6CA1D2;
  --background: #3B4856;
  --dustyPink: #CD88A4;
}

@font-face {
  font-family: 'Lato';
  src: url('path-to-your-font.woff') format('woff');
}

/*HOMEPAGE*/
body{
    background-color: var(--background);
    font-family: Montserrat;
    display: flex;
    justify-content: center;
    text-align: center;
}

nav{
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: 30px 0 0 0;
  overflow: auto;
}

nav li{
  display: inline;
}

nav img{
  width: 75px;
  height: auto;
}

#pfp {margin-right: auto;}
#github {margin-left: auto; padding-right: 20px}
#linkedin {justify-content: flex-end;}

.circleImage {
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.nameCard{
  margin: 120px;
}

#hi{
  line-height: 0;
  font-family: 'Fira Mono';
  color: darkGray;
}

#Jake{
  text-align:center;
  line-height: 0;
  font-size: 5rem;
  color: var(--accent);
}

#Callcut{
  line-height: 0;
  font-size: 5rem;
  color: darkGray;
}

.bottomBar{
  font-family: 'Fira Mono';
  color: darkGray;
}

.bottomBar ul{
  list-style: none;
}
