
:root{
  --accent: #6ca1d2;
  --background: #2e2b36;
}

body {
  background-color: var(--background);
  font-family: Lato, Helvetica;
  height: 100%;
  overflow: hidden;
}

#maindesc {
  width: auto;
  padding: 10% 0 0 10%;
  text-align: center;
  float: left;
  color: white;
  font-family: Lato;
}

#maindesc p {
  font-weight: 100;
  font-size: 23px;
}

#cards{
  float: right;
  padding: 15% 14% 0 0;
}

#cards .card{
  padding: 0 25px 0 25px;
}

h1 {
  font-weight: 300;
  font-size: 40px;
  color: var(--accent);
}

#pfp {
  border-radius: 50%;
  width: 300px;
}

#pin{
  height: 20px;
}

#nodes{
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: -5;
}
